@tailwind base;
@tailwind components;
@tailwind utilities;

/* specific styles */
.selection-cell >input[type="radio"] {
    appearance: none;
    background-color: #cddc39;
    margin-left: 10px;
    width: .75em;
    height: .75em;
    border-radius: 50%;
}
.detailedOrderTable >tbody >tr:first-child {
    border: none;
}
.sr-only {
    display: none;
}
